.mainLink {
    text-decoration: none;
    color: inherit;
    display: block;
    width: 100%;
    max-width: 280px;
    text-align: center;
    padding: 1rem 1rem;
    background-color: var(--primary-accent);
    color: var(--text-light);
    transition: all 0.3s ease-in-out;
    font-weight: bold;
    letter-spacing: 0.2rem;
    border-radius: 10px;

    &:hover {
        filter: brightness(1.2);
    }
}
